<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <!-- 文件日志：普通无颜色模板 -->
        <Property name="FILE_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <!-- 控制台日志：彩色模板 -->
        <Property name="CONSOLE_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%blue{%t}] %highlight{%-5level}{FATAL=Red,Bold, ERROR=Red, WARN=Yellow, INFO=Green, DEBUG=Cyan, TRACE=Blue} %magenta{%logger{30}} - %msg%n</Property>
        <Property name="LOG_HOME">logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- disableAnsi="false" 开启ANSI颜色；charset统一UTF-8 -->
            <PatternLayout charset="UTF-8" disableAnsi="false" pattern="${CONSOLE_PATTERN}"/>
        </Console>

        <RollingFile name="RollingFile"
                     fileName="${LOG_HOME}/app.log"
                     filePattern="${LOG_HOME}/app-%d{yyyy-MM-dd}-%i.log">
            <!-- 文件布局必须单独定义，禁止带%highlight！指定UTF-8解决中文乱码 -->
            <PatternLayout charset="UTF-8" pattern="${FILE_PATTERN}"/> <!-- 归档文件命名规则 -->
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- 按天切割 -->
                <SizeBasedTriggeringPolicy size="100MB"/> <!-- 单个文件100MB也切割 -->
            </Policies>
            <DefaultRolloverStrategy max="10"/> <!-- 最多保留10个归档日志，自动删除旧文件 -->
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- 根日志：INFO级别，同时输出到控制台 + 文件 -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <!-- 单独控制playwright包日志：DEBUG，只打印控制台，不进日志文件 -->
<!--        <Logger name="com.microsoft.playwright" level="DEBUG" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
        <!-- 屏蔽Playwright冗余日志，可选 -->
<!--        <Logger name="com.microsoft.playwright" level="WARN" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
    </Loggers>
</Configuration>